.skin-naggaroth {
	body {
		background: url("../ui/background.webp") repeat;
	}

	#players {
		border-image: url("../ui/players-border.webp") 21 repeat;
		border-image-slice: 23 19 23 19;
		border-image-width: 23px 19px 23px 19px;
		border-image-outset: 22px 17px 16px 14px;
	}

	#hotbar {
		width: 618px;
	}

	#hotbar #action-bar #macro-list {
		background: url("../ui/frames/hotkeybox-macro-list.webp");
	}

	#hotbar #action-bar .macro {
		border-image: url("../ui/frames/hotkeybox.webp") 21 repeat;
		border-image-slice: 6 6 6 6 fill;
		border-image-width: 6px 6px 6px 6px;
		border-image-outset: 0 0 0 0;
	}

	#pause > img {
		content: url("../ui/khaine.webp");
	}


	#sidebar {
		background: url("../ui/sidebar.webp") repeat;
	}

	#sidebar-tabs {
		background: url("../ui/sidebar-border.webp") repeat;
	}

	.sidebar-popout button,
	.sidebar-tab .directory-footer button,
	#macros .directory-footer button,
	#macros .directory-footer button,
	#sidebar button,
	#sidebar .header-actions button,
	.action-buttons button {
		border-image: url("../ui/footer-button.webp") 10 repeat;
		border-image-width: 4px;
		border-image-outset: 0;
		background: url("../ui/sidebar_button-background_red.webp") repeat;
	}

	#chat-form {
		border-image: url("../ui/chat-form-border.webp") 10 repeat;
		border-image-width: 10px;
		border-image-outset: 0 0;
	}

	#controls .scene-control.active,
	#controls .control-tool.active,
	#controls .scene-control:hover,
	#controls .control-tool:hover {
		background: url("../ui/sidebar_button-background_red.webp") repeat !important;
		border-image: url("../ui/footer-button.webp") 10 repeat !important;
		border-image-width: 4px !important;
		border-image-outset: 0 !important;
	}

	#hotbar .bar-controls {
		border: 2px solid #3d14bdc2;
	}

	#navigation #scene-list .scene.view,
	#navigation #scene-list .scene.context {
		background: url("../ui/sidebar_button-background_red.webp") repeat;
	}

	#sidebar.collapsed {
		border-image: url("../ui/frames/sidebar-collapsed.webp");
		border-image-slice: 9 fill;
		border-image-width: 9px;
		border-image-outset: 0 0 0 0;
		border-image-repeat: repeat;
	}

	#navigation #scene-list .scene.nav-item {
		border-image: url("../ui/footer-button.webp") 10 repeat;
		border-image-width: 4px;
		border-image-outset: 0;
	}

	#sidebar-tabs > [data-tab~="chat"] {
		background: url("../ui/sidebar-button-chat.webp");
	}

	#sidebar-tabs > [data-tab~="chat"].active i {
		background: url("../ui/sidebar-button-chat-active.webp");
	}


	#sidebar-tabs > [data-tab~="combat"] {
		background: url("../ui/sidebar-button-combat.webp");
	}

	#sidebar-tabs > [data-tab~="combat"].active i {
		background: url("../ui/sidebar-button-combat-active.webp");
	}


	#sidebar-tabs > [data-tab~="scenes"] {
		background: url("../ui/sidebar-button-scenes.webp");
	}

	#sidebar-tabs > [data-tab~="scenes"].active i {
		background: url("../ui/sidebar-button-scenes-active.webp");
	}


	#sidebar-tabs > [data-tab~="actors"] {
		background: url("../ui/sidebar-button-actors.webp");
	}

	#sidebar-tabs > [data-tab~="actors"].active i {
		background: url("../ui/sidebar-button-actors-active.webp");
	}


	#sidebar-tabs > [data-tab~="items"] {
		background: url("../ui/sidebar-button-items.webp");
	}

	#sidebar-tabs > [data-tab~="items"].active i {
		background: url("../ui/sidebar-button-items-active.webp");
	}


	#sidebar-tabs > [data-tab~="journal"] {
		background: url("../ui/sidebar-button-journal.webp");
	}

	#sidebar-tabs > [data-tab~="journal"].active i {
		background: url("../ui/sidebar-button-journal-active.webp");
	}


	#sidebar-tabs > [data-tab~="tables"] {
		background: url("../ui/sidebar-button-tables.webp");
	}

	#sidebar-tabs > [data-tab~="tables"].active i {
		background: url("../ui/sidebar-button-tables-active.webp");
	}


	#sidebar-tabs > [data-tab~="cards"] {
		background: url("../ui/sidebar-button-cards.webp");
	}

	#sidebar-tabs > [data-tab~="cards"].active i {
		background: url("../ui/sidebar-button-cards-active.webp");
	}


	#sidebar-tabs > [data-tab~="playlists"] {
		background: url("../ui/sidebar-button-playlists.webp");
	}

	#sidebar-tabs > [data-tab~="playlists"].active i {
		background: url("../ui/sidebar-button-playlists-active.webp");
	}


	#sidebar-tabs > [data-tab~="compendium"] {
		background: url("../ui/sidebar-button-compendium.webp");
	}

	#sidebar-tabs > [data-tab~="compendium"].active i {
		background: url("../ui/sidebar-button-compendium-active.webp");
	}


	#sidebar-tabs > [data-tab~="settings"] {
		background: url("../ui/sidebar-button-settings.webp");
	}

	#sidebar-tabs > [data-tab~="settings"].active i {
		background: url("../ui/sidebar-button-settings-active.webp");
	}

	#sidebar-tabs > .collapse {
		background: url("../ui/sidebar-button-collapse.webp");
	}

	#sidebar.collapsed .collapse {
		background: url("../ui/sidebar-button-settings-active.webp");
	}

	#logo {
		content: url("../ui/logo.webp");
	}

	.app.window-app .dialog-buttons button, .app.window-app .sheet-footer button, .app.window-app .form-group .file-picker, .app.window-app button[type="button"], .app.window-app button[type="submit"], .app.window-app button[type="reset"] {
		border: 1px solid black;
		border-image: url("../ui/footer-button.webp") 10 repeat;
		border-image-width: 4px;
		border-image-outset: 0;
		background: url("../ui/sidebar_button-background_red.webp") repeat;
		background-origin: padding-box;
	}

	.window-app .window-header .window-title .document-id-link, .window-app .window-header .document-id-link {
		background: url("../ui/buttons/button-id.webp");
		background-position-x: 1px;
		background-position-y: -4px;
	}

	.app.window-app .window-header .configure-sheet {
		background: url("../ui/buttons/button-configure-sheet.webp");
	}

	.app.window-app .window-header .configure-token {
		background: url("../ui/buttons/button-configure-token.webp");
	}

	.app.window-app .window-header .close {
		background: url("../ui/buttons/button-close.webp");
	}

	.window-app.dialog.wfrp4e-dialog .window-content {
		border-width: 10px;
		border-image: url("../ui/window-app-dialog-content.webp") 5 repeat;
		border-image-slice: 10 13 13 13;
		border-image-width: 10px 13px 13px 13px;
		border-image-outset: 8px;
	}

	.app.window-app .window-content {
		background: url("../ui/frames/window-app-background-bookshelf.webp");
		background-position: -43px -120px;
	}

	.window-app.dialog.wfrp4e-dialog .window-header {
		background: url("../ui/frames/window-app-header-blank.webp") repeat;
	}

	#chat-controls i {
		width: 30px;
		height: 30px;
		position: relative;
		top: 3px;
		background: url("../ui/buttons/chat-button-d20.webp");
	}

	#chat-controls .control-buttons .export-log i {
		background: url("../ui/buttons/chat-button-export.webp");
		position: relative;
		right: 20px;
	}

	#chat-controls .control-buttons .delete i {
		background: url("../ui/buttons/chat-button-clear.webp");
		position: relative;
		right: 10px;
	}

	.app.window-app .window-content {
		border-width: 10px;
		border-image: url("../ui/window-app-dialog-content.webp") 5 repeat;
		border-image-slice: 10 13 13 13;
		border-image-width: 10px 13px 13px 13px;
		border-image-outset: 0;
	}

	.app.window-app .window-header {
		border-image: url("../ui/frames/window-app-header-blank.webp") 5 repeat;
		border-image-slice: 19 21 19 21 fill;
		border-image-width: 19px 21px 21px 21px;
		border-image-outset: 0;
	}

	.app.window-app .window-header .import {
		background: url("../ui/buttons/button-import.webp");
	}

	.app.window-app .window-header .post {
		background: url("../ui/buttons/button-post.webp");
	}

	.app.window-app .window-header .share-image {
		background: url("../ui/buttons/button-show-players.webp");
	}

	.journal-sheet .directory .directory-header .action-button {
		background: url("../ui/buttons/combat-button-background.webp");
		background-position: 0 -2px;
		background-repeat: no-repeat;
	}

	#sidebar #settings button {
		border-image: url("../ui/footer-button.webp") 10 repeat;
		border-image-width: 4px;
		border-image-outset: 0;
		background: url("../ui/sidebar_button-background_red.webp") repeat;
		background-origin: padding-box;
	}

	.app.window-app .window-header .window-title {
		border: 0;
		box-shadow: none;
	}

	.header-search .fa-search {
		width: unset;
		height: unset;
		background: none;
		color: var(--color-text-light-highlight);
	}

	.directory .directory-header .header-control {
		left: 0;
	}
	.tabs .item:hover {
		text-shadow: 0 0 10px #a600ff
	}
	a:hover {
		text-shadow: 0px 0px 8px #a600ff !important;
	}
	button:hover {
		box-shadow: 0 0 5px #a600ff !important;
	}
	input[type="password"]:focus {
		box-shadow: 0 0 5px #a600ff;
		outline: none;
	}
	.combat-sidebar #combat-controls a:hover {
		box-shadow: 0 0 5px #a600ff !important;
	}
	.dialog .dialog-buttons button.default:focus
	{
		box-shadow: 0 0 5px #a600ff !important;
	}
	.token-sheet .sheet-tabs .item:hover {
		box-shadow: 0 0 8px #a600ff !important;
	}
	#drawing-config .sheet-tabs .item:hover {
		box-shadow: 0 0 8px #a600ff !important;
	}
	.item-dialog .directory .directory-item.active {
		box-shadow: 0 0 8px #a600ff inset;
	}
	#client-settings .sheet-tabs .item:hover {
		box-shadow: 0 0 8px #a600ff !important;
	}
	.wfrp4e.table-sheet .tabs .item:hover {
		box-shadow: 0 0 8px #a600ff !important;
	}
	.wfrp4e.table-sheet .table-contents .table-row .row-label:hover {
		text-shadow: 0 0 8px #a600ff !important;
	}
	#career-selector .career-tier:hover {
		text-shadow: 0 0 8px #a600ff !important;
		cursor: pointer;
	}
	#career-selector .career-tier.active {
		box-shadow: inset 0px 0px 3px 3px #a600ff;
	}
	#av-config .sheet-tabs .item:hover {
		box-shadow: 0 0 8px #a600ff !important;
	}
	.forien-quest-preview nav .item:hover{
		box-shadow: 0 0 8px #a600ff !important;
	}
	.simple-calendar.classic .fsc-e .fsc-m .fsc-n .fsc-o:hover {
		background-color: unset;
		box-shadow: 0 0 8px #a600ff !important;
	}

	#module-management .window-content .modules-list .module header input[type="checkbox"] {
		background: #241635;
	}
	#homebrew-settings .window-content form .form-group select,
	#client-settings .window-content form .form-group select {
		background: #241635;
	}
	.system-wfrp4e .dice-so-nice .sfxs-list input{
		background: #241635;
	}
	.system-wfrp4e .dice-so-nice .sfxs-list select {
		background: #241635;
	}
	.token-sheet .detection-modes select,
	.token-sheet .detection-modes input,
	#module-management .list-filters input,
	.app.window-app .form-group input {
		background: #241635;
	}
	.app.window-app .form-group select {
		background: #241635;
	}
	.active-effect-sheet .effect-change input{
		background: #241635;
	}
	.active-effect-sheet .effect-change select {
		background: #241635;
	}
	.token-sheet .tab[data-tab="image"] .form-group .range-value {
		background: #241635;
	}
	.token-sheet .tab[data-tab="resources"] .form-group .bar1-value {
		background: #241635;
	}
	.token-sheet .tab[data-tab="resources"] .form-group .bar2-value {
		background: #241635;
	}
	.token-sheet .tab[data-tab="resources"] .form-group .sep {
		background: #241635;
	}
	#drawing-config .tab[data-tab="image"] .form-group .scale-value {
		background: #241635;
	}
	#drawing-config .tab[data-tab="resources"] .form-group .bar1-value {
		background: #241635;
	}
	#drawing-config .tab[data-tab="resources"] .form-group .bar2-value {
		background: #241635;
	}
	#drawing-config .tab[data-tab="resources"] .form-group .sep {
		background: #241635;
	}
	.result-range > input,
	.result-weight > input,
	.result-details > input
	{
		background: #241635;
	}
	.result-type > select,
	.result-details > select {
		background: #241635;
	}
	textarea,
	.active-effect-sheet textarea,
	.drawing-sheet textarea,
	.macro-sheet textarea[name="command"] {
		background: #241635;
	}
	#wfrp4e-browser select,
	#wfrp4e-browser input {
		background: #241635;
	}
	#wfrp4e-browser .item-filter.save-scroll div input[type="checkbox"] {
		background: #241635;
	}
	.dd-import-text {
		background: #241635;
	}
	#filter-config input[type="checkbox"],
	#effects-config input[type="checkbox"] {
		background: #241635;
	}
	#filter-config input,
	#effects-config input {
		background: #241635;
	}
	.app.window-app.dialog .form-group.import .file-picker {
		background: #241635;
	}
	#stat-parser textarea {
		background: #241635;
	}
	#calendar-settings .window-content form select,
	#calendar-settings .window-content form input
	{
		background: #241635;
	}
	.calendar-form-container select {
		background: #241635;
	}
	.calendar-form-container input {
		background: #241635;
	}
	.calendar-form-container #calendar-form-cDay-input,
	.calendar-form-container #calendar-form-year-input,
	.calendar-form-container #calendar-form-era-input,
	.calendar-form-container #calendar-form-minute-input,
	.calendar-form-container #calendar-form-second-input,
	.calendar-form-container #calendar-form-hour-input{
		background-color: #241635 !important;
	}
	.gm-screen-grid-cell-header {
		background: #241635 !important;
	}
	.simple-calendar.classic .fsc-mf .tabs .fsc-hb {
		background: #241635;
	}
	.simple-calendar.classic .fsc-mf .tabs .fsc-nf .fsc-gb ul li.fsc-qf, .simple-calendar.classic .fsc-mf .tabs .fsc-nf .fsc-gb ul li:hover {
		background: #241635;
	}
	.simple-calendar.classic .fsc-mf .tabs .fsc-nf .fsc-gb ul li {
		background: #241635;
	}
	#sidebar #settings ul {
		background: #241635;
	}
	#client-settings {
		border-width: 10px;
		border-image: url(../ui/game-settings-border.webp) 5 repeat;
		border-image-slice: 162 81 67 80;
		border-image-width: 162px 81px 67px 80px;
		border-image-outset: 0px;
	}
	#client-settings .window-content {
		margin: 0px 70px 57px 70px;
		padding: 0px;
		border: none;
		background: url(../ui/game-settings-background.webp);
		background-size: 199%;
		background-position-x: center;
	}
	#homebrew-settings .window-content button, #client-settings .window-content button {
		border-image: url(../ui/footer-button.webp) 10 repeat;
		border-image-width: 4px;
		border-image-outset: 0px;
		background: url(../ui/sidebar_button-background_red.webp) repeat;
		background-origin: padding-box;
	}
}
